{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": [0],
    "comma-dangle": [0],
    "class-methods-use-this": [0],
    "jsx-quotes": [1, "prefer-single"],
    "max-len": [1, 80, {
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
    }],
    "no-shadow": [0]
  }
}
