.lists {
  display: flex;
  position: relative;
  font-size: 18px;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.list-intro {
  font-size: 0.79em;
  font-family: 'Menlo', 'Monaco', 'Consolas', monospace;
  padding-bottom: 1em;
  transition: opacity 0.5s ease-in;

  @media screen and (max-width: 767px) {
    letter-spacing: -0.75px;
  }
}

.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.track-list,
.activity-list {
  flex: 1 0 auto;
  margin: 0;
  padding: 0;

  & ul {
    list-style-type: none !important;
    padding-bottom: 1.5em;
  }
}

.track-list a {
  &:first-child {
    & .track {
      margin-top: 0;
    }
  }

  &:last-child {
    & .track {
      margin-bottom: 0;
    }
  }
}

.activity-list .activity {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.track-list .track,
.activity-list .activity {
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  margin: 12px 0;
  border-radius: 3px;
  padding: 5px;
  background: #2a2c3c;
  transition: opacity 0.5s ease-in, background 0.4s ease-in-out;

  & .thumb {
    width: 80px;
    height: 80px;
    border-radius: 2px;
    background-size: cover;
    background-position: center;
    background-color: #3e4256;
    float: left;
    margin-right: 8px;
  }

  & .info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 90px;
    padding-right: 10px;
    width: 97%;
  }
}

.track-list {
  & .thumb {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
  }

  & .track {
    &:hover {
      background: #353849;
    }
  }
}

.activity-list {
  & ~ .track-list {
    padding-left: 2.027em;

    @media screen and (max-width: 767px) {
      padding-left: 0;
    }
  }

  & .activity {
    & .icon {
      background-position: initial;

      /* Wtf again chrome? Need this to render my svgs */
      background-color: rgba(0, 255, 85, 0.01);
      filter: invert(100%) brightness(85%);
      width: 60px;
      height: 60px;
      margin: 10px 6px 10px 14px;
    }
  }
}

.track-list .title,
.activity-list .category {
  font-size: 0.79em;
}

.track-list .artist,
.activity-list time {
  font-size: 0.79em;
  padding-bottom: 7px;
}

.track-list time,
.activity-list .activities {
  font-size: 0.72em;
}

.track-list {
  & a {
    display: inherit;
    color: inherit;

    &::after {
      content: none;
    }
  }
}

.activity-list .activities {
  font-style: italic;
}

.equaliser-container {
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 10px;
  height: 1em;
  position: relative;

  & .equaliser-column {
    width: 2px;
    float: left;
    margin: 0 1px 0 0;
    padding: 0;
    height: 1em;
    position: relative;
    list-style-type: none;

    & .colour-bar {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1em;
      background: #d8d8d6;
    }

    &:nth-child(1) .colour-bar {
      animation: color-bar 2s 1s ease-out alternate infinite;
    }

    &:nth-child(2) .colour-bar {
      animation: color-bar 2s 0.5s ease-out alternate infinite;
    }

    &:nth-child(3) .colour-bar {
      animation: color-bar 2s 1.5s ease-out alternate infinite;
    }

    &:nth-child(4) .colour-bar {
      animation: color-bar 2s 0.25s ease-out alternate infinite;
    }

    &:nth-child(5) .colour-bar {
      animation: color-bar 2s 2s ease-out alternate infinite;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@keyframes color-bar {
  0% {
    height: calc(1em / 1);
  }

  10% {
    height: calc(1em * 0.3);
  }

  20% {
    height: calc(1em * 0.5);
  }

  30% {
    height: calc(1em * 0.2);
  }

  40% {
    height: calc(1em * 0.6);
  }

  50% {
    height: calc(1em * 0.8);
  }

  60% {
    height: calc(1em * 0.5);
  }

  70% {
    height: calc(1em * 0.7);
  }

  80% {
    height: calc(1em * 1);
  }

  90% {
    height: calc(1em * 0.7);
  }

  100% {
    height: calc(1em / 4);
  }
}

.loading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  & p {
    display: inline-block;
  }
}

/* Double bounce animation courtesy https://raw.githubusercontent.com/KyleAMathews/react-spinkit/master/css/double-bounce.css */

.double-bounce {
  display: inline-block;
  width: 27px;
  height: 27px;
  margin: 0 10px;
  position: relative;
}

.double-bounce1,
.double-bounce2 {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #424559;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1s;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

/* React CSS Transition Add On */

.qs-appear {
  opacity: 0.01;
}

.qs-appear.qs-appear-active {
  opacity: 1;
  transition: opacity 1200ms ease-in-out;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .lists a {
    border-bottom: none;
  }
}
