@charset "utf-8";

@custom-selector :--headings h1, h2, h3, h4, h5, h6;

/* -------------------------------------------------------------------------- */

/* SITEWIDE GENERAL */

* {
  /* Fuck defaults */
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

article,
aside,
footer,
header,
hgroup,
nav,
section,
time {
  display: block;
}

html {
  height: 100%;
  background: #21232d;
  color: #d8d8d6;
  font-family: 'Inconsolata', 'Andale Mono', 'PT Mono', 'Courier New', monospace;
  font-size: 18px;
  line-height: 1.5;
  overflow-y: scroll;

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

body {
  height: 100%;
  width: 700px;
  margin: 0 auto;

  @media screen and (max-width: 800px) {
    width: 88%;
  }
}

#react-mount {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

p,
ul,
pre,
ol,
table {
  padding-bottom: 1.125em;
}

li {
  & ol {
    padding-bottom: 0;
    padding-left: 1.82em;
  }

  & ul {
    padding-bottom: 0;
    padding-left: 1em;
  }
}

:--headings {
  padding-bottom: 0.37em;
  line-height: 1.125;
}

h1 {
  font-size: 2.027em;
}

h2 {
  font-size: 1.62em;
}

h3 {
  font-size: 1.424em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.72em;
}

small {
  font-size: 0.889em;
}

a {
  color: #57c7ff;
  display: inline-block;
  text-decoration: none;
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 1px solid #57c7ff;
    transition: 0.4s ease-in-out;
    transition-delay: 0.1s;
  }

  &:hover::after {
    width: 100%;
    transition-delay: 0s;
  }
}

del {
  text-decoration: line-through;
  color: #4d5068;
}

hr {
  display: block;
  border-top: 1px solid #424559;
  margin: 1.125em 0 2em;
}

::-moz-selection {
  color: #21232d;
  background: #d8d8d6;
}

/* Wtf chrome? http://stackoverflow.com/questions/7224445/css3-selection-behaves-differently-in-ff-chrome
*/

::selection {
  color: #21232d;
  background-color: rgba(216, 216, 214, 0.996);
}

img::selection {
  background-color: rgba(216, 216, 214, 0.5);
}

/* -------------------------------------------------------------------------- */

/* ARCHIVE SPECIFIC */

.post-list time {
  width: 6.583em;
}

/* -------------------------------------------------------------------------- */

/* POST SPECIFIC */

.blog-header {
  padding-bottom: 1.125em;

  & h2 {
    padding-bottom: 0.216em;
  }

  & time {
    display: inline;
  }

  & div {
    font-size: 0.889em;
  }
}

.blog-body {
  & :--headings {
    color: #f92672;
  }
}

.header-anchor {
  display: none;
  opacity: 0;
  margin-left: -1em;
  transition: opacity 0.5s ease-in-out;
  color: inherit !important;

  &::after {
    border: none;
  }
}

.emoji {
  display: inline-block;
  box-sizing: content-box;
  width: 1rem;
  height: 1rem;
  vertical-align: -0.15em;
}

.post-content {
  & :--headings {
    padding-bottom: 0.216em;

    & .header-anchor {
      display: inline;

      @media screen and (max-width: 600px) {
        display: none;
      }
    }

    &:hover .header-anchor {
      opacity: 0.9;
    }
  }

  & p {
    &:last-child {
      padding-bottom: 0;
    }
  }

  & code {
    font-size: 0.889em;
    background: #1d1f21;
    color: #c5c8c6;
    font-family: 'Menlo', 'Monaco', 'Consolas', monospace;
    display: inline-block;
    padding: 0 0.5em;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 0.75px 0 rgba(53, 56, 73, 0.4);

    @media screen and (max-width: 600px) {
      font-size: 14px;
    }
  }

  & pre code {
    display: block;
    padding: 1.266em;
    white-space: pre;
    overflow: auto;
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(53, 56, 73, 0.4), 0 -1px 0 rgba(0, 0, 0, 0.3);
  }

  & blockquote {
    padding: 1.125em 2.566em;
    font-style: italic;
    position: relative;
    color: #f3f99d;

    &::before {
      content: '“';
      font-size: 400%;
      left: -12px;
      line-height: 0.5;
      position: absolute;
    }

    & ol,
    & ul {
      list-style-position: inside;
    }

    @media screen and (max-device-width: 480px) {
      padding: 1.125em 1em;

      &::before {
        font-size: 200%;
        left: -12px;
      }
    }
  }

  & cite {
    display: block;
    padding-top: 1.125em;

    &::before {
      content: '\2014 ';
    }
  }

  & figure {
    text-align: center;
    padding: 1.82em 0 2.927em;

    & a {
      display: inline;
      opacity: 1;
      transition: all 0.4s ease-in-out;

      &:hover {
        opacity: 0.5;
      }

      &::after,
      &:hover::after {
        display: none;
        content: none;
      }
    }

    & img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  & figure.full-width {
    & img {
      min-width: 100%;
    }
  }

  & figure a ~ figcaption,
  & img ~ figcaption {
    margin: 10px 0 -10px;
    font-size: 0.889em;
    font-style: italic;
  }
}

.share-icons {
  display: inline-block;
  padding: 0 0.5em;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;

  &:first-child {
    padding-left: 0;
  }

  &:hover {
    opacity: 0.7;
  }
}

.post-footer {
  & > ul {
    padding: 3px 0 1.125em;
    margin: 1em 0;
    line-height: 1;
    display: block;

    & li {
      display: inline-block;
      list-style-type: none;
    }
  }

  & > article {
    & header {
      color: #f92672;
    }

    & ul li {
      display: block;
      padding-bottom: 10px;

      & > p {
        padding-bottom: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */

/* MASTHEAD */

.masthead {
  border-bottom: 1px solid #424559;
  padding: 1.62em 0;
  margin-bottom: 1.62em;
  text-align: center;

  & h1 {
    padding-bottom: 1rem;
  }

  & h1 a {
    font-size: 51.957px;
    background-color: #f92672;
    color: #21232d;
    padding: 5px 15px;
  }

  & nav,
  & ul,
  & li {
    display: inline-block;
    line-height: 1;
    padding-bottom: 0;
  }

  & a {
    color: #d8d8d6;

    &::after {
      content: none;
      border: none;
    }
  }

  & li {
    margin: 0 12px;
    list-style-type: none;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

/* -------------------------------------------------------------------------- */

/* FOOTER */

footer {
  margin-top: 1.125em;
  text-align: center;
  border-top: 1px solid #424559;

  & p,
  & ul {
    padding: 1.62rem 0;
    display: inline-block;

    @media screen and (max-width: 415px) {
      display: block;
      width: 100%;
    }
  }

  & p {
    font-size: 16px;
    float: left;

    & .footer-icon {
      vertical-align: -0.25rem;
    }

    @media screen and (max-width: 415px) {
      padding-bottom: 0.5rem;
    }
  }

  & ul {
    float: right;

    @media screen and (max-width: 415px) {
      padding-top: 0.5rem;
    }
  }

  & li {
    padding: 0 4px;
    list-style-type: none;
    display: inline-block;

    @media screen and (max-width: 415px) {
      padding: 0 7px;
    }
  }

  & a {
    color: #d8d8d6;
    opacity: 0.7;
    transition: all 0.4s ease-in-out;

    &:hover {
      opacity: 1;
    }

    &::after,
    &:hover::after {
      display: none;
      content: none;
      border: none;
    }
  }
}

.footer-icon {
  height: 16px;
  width: 16.5px;
  background-size: cover;
  background-position: 0 0;
  filter: invert(100%) brightness(85%);
  display: inline-block;
  vertical-align: -0.5px;

  @media screen and (max-width: 415px) {
    height: 16.5px;
    width: 16.5px;
  }
}

/* -------------------------------------------------------------------------- */

/* BIO */

.bio {
  display: flex;
  align-items: center;
  padding-bottom: 1.125em;

  & .avatar {
    margin-right: 1em;
    width: 100px;
    border-radius: 50%;
  }

  & .intro {
    flex: 1;
    padding-bottom: 0;
  }
}

/* -------------------------------------------------------------------------- */

/* SPECIAL MEDIA QUERIES */

@media screen and (max-width: 600px) {
  ul,
  ol {
    list-style-position: inside;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .content a {
    display: inline;

    &::after,
    &:hover::after {
      content: none;
    }
  }

  .bio {
    display: block;
    overflow: auto;
    padding-bottom: 1.125em;

    & .avatar {
      float: left;
      margin-right: 1em;
      width: 80px;
      border-radius: 50%;
    }

    & .intro {
      flex: 1;
      padding-bottom: 0;
    }
  }
}

/* -------------------------------------------------------------------------- */

/* COLORS
 * #21232d - darkGunMetal
 * #d8d8d6 - timberwolf
 * #f3f99d - pastelYellow
 * #57c7ff - mayaBlue
 * #5af78e - veryLightMalachiteGreen
 * #f92672 - razzmatazz
 * #9aedfe - winterWizard
 * #ff6ac1 - hotPink
 * #1d1f21 - darkJungleGreen
 * #c5c8c6 - lavenderGray
 * #3E4256 - arsenic
 * #353849 - onyx
 * #2a2c3c - gunMetal
 */

/* -------------------------------------------------------------------------- */

/* SCALE
 * Base: 18px, Scale: major second (8:9)
 * 51.957px 2.887em 3.247em @ 16
 * 46.184px 2.566em 2.887em @ 16
 * 41.053px 2.281em 2.566em @ 16
 * 36.491px 2.027em 2.281em @ 16
 * 32.437px 1.802em 2.027em @ 16
 * 28.833px 1.602em 1.802em @ 16
 * 25.629px 1.424em 1.602em @ 16
 * 22.781px 1.266em 1.424em @ 16
 * 20.25px 1.125em 1.266em @ 16
 * 18px 1em 1.125em @ 16
 * 16px 0.889em 1em @ 16
 * 14.222px 0.79em 0.889em @ 16
 * 12.642px 0.702em 0.79em @ 16
 * 11.237px 0.624em 0.702em @ 16
 * 9.989px 0.555em 0.624em @ 16
 * 8.879px 0.493em 0.555em @ 16
 */

/* -------------------------------------------------------------------------- */
